@media screen and (max-width: 1210px){
    .form-container {
        position: relative;
        background-repeat: no-repeat;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 30px;
        box-shadow: 3px 3px 10px 0px #000;
        border-radius: 15px;
        width: 45vh;
        height: 50vh;
        background-color: white;
        background-repeat: no-repeat;
    }
}